{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "printWidth": 120,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["**/*.json", "jest.config.js"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
